.container h1 {
    color: #b4ecb4;
}

/* Table */
.table {
    font-size: 1.2em;
    width: 400px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.table thead {
    border-bottom: 1px solid white;
}

.table th {
    padding: 8px;
}

.table td {
    padding: 6px;
    width: 50%;
}

.table tbody tr:hover {
    background-color: #141414;
}

/* Keybindings */
.keybind {
    margin-top: 32px;
}

.keybind div {
    margin-bottom: 2px;
}

.keybind span {
    font-family: 'Roboto Mono', monospace;
    font-size: .7rem;
}
