.fossils {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Table */
.table {
    font-size: 1.2em;
    width: 600px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.table thead {
    border-bottom: 1px solid white;
}

.table th {
    padding: 8px;
}

.table td {
    padding: 6px;
}

.table tbody tr:hover {
    background-color: #141414;
}
